
/*main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}*/

.courier {
    color: #ea433b;
    font-size: 40px;
    padding-left: 10px;

}

.tt {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 200;
    width: 100%;
    text-align: center;
    
}

.tt_text{
    font-size: 80px;
    color: white;
    line-height: 80px;
}

.home {
    background: url('images/new8.jpg');
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.btn {
    background-color: #6699cc;
    border: none;
    color: #ffffff;
    padding: 8px 100px;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 5px;
}

.btn:active {
    border: 5px;
}

.btn:hover {
    color: #ffffff;
    transition: 0ms;
}